* {
  font-family: 'Sanchez', serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

body {
  color: #fff6f4; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 2em; }

a {
  text-decoration: none;
  color: #fff6f4; }
  a:visited {
    color: #fff6f4; }
  a:hover {
    color: #fff6f4; }

.picture {
  background-image: url("../assets/ns_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: fixed; }

.container {
  width: 85%;
  margin: 0 auto; }

.section-title {
  color: #fff6f4;
  font-weight: 700;
  font-size: 5em; }

.home {
  font-weight: 700;
  background: linear-gradient(90deg, rgba(50, 0, 0, 0.4), rgba(50, 0, 0, 0.4) 38%, rgba(255, 180, 180, 0.2)); }
  .home .home-cont .home-name {
    font-size: 7em;
    line-height: 0.95em;
    letter-spacing: 3px; }
  .home .home-cont .home-job {
    margin-top: 0.5%;
    font-size: 1.9em; }
  .home .home-cont .home-rest, .home .home-cont .home-contact {
    width: 60%;
    margin-top: 3%;
    font-size: 1.9em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em; }
  .home .home-cont .home-love {
    margin-top: 2%;
    margin-bottom: 7%;
    font-size: 1.5em; }
  .home .home-cont .home-buttons {
    margin-top: 3%; }
    .home .home-cont .home-buttons a {
      background-color: rbga(0, 0, 0, 0);
      border: 3px solid #fff6f4;
      border-radius: 20px;
      padding: 4px 15px;
      margin-right: 2%; }
      .home .home-cont .home-buttons a:hover {
        color: #000;
        transition: background-color 0.1s ease;
        background-color: #b85956; }
  .home .home-cont .home-action {
    font-size: 1.7em;
    margin-top: 4.4%; }
    .home .home-cont .home-action a {
      color: #fff6f4; }
      .home .home-cont .home-action a:hover {
        border-bottom: 3px solid #fff6f4;
        transition: all 0.1s linear; }

.about {
  border-top: 22px solid #2a2a2a;
  background-color: #fff6f4;
  color: #1d3c58; }
  .about .aboutCont {
    padding: 20% 0; }
    .about .aboutCont li {
      vertical-align: top; }
    .about .aboutCont a {
      color: #1d3c58; }
      .about .aboutCont a:hover {
        color: #3670a5; }
    .about .aboutCont .bio {
      width: 65%;
      font-size: 2em;
      margin-bottom: 3%;
      line-height: 1.5em;
      display: inline-block;
      margin-right: 9%; }
    .about .aboutCont .skillsClubsCont {
      display: inline-block;
      width: 15%;
      padding: 0 4%;
      vertical-align: top;
      border-left: 5px double #1d3c58; }

.work {
  border-top: 22px solid #2a2a2a; }
  .work .work-block {
    padding: 3.5% 0; }
    .work .work-block .cont {
      position: relative;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      padding: 2%;
      width: 55%;
      border-radius: 5px; }
    .work .work-block .work-name {
      font-size: 3em; }
    .work .work-block .work-brief {
      margin-top: 0.6%;
      font-size: 1.5em; }
    .work .work-block .work-skills {
      margin-top: 1%;
      font-size: 1em; }

pie-chart {
  margin-right: 200px; }

.blue {
  background-color: #1d3c58; }

.darken {
  background-color: #1a3750; }

footer {
  background-color: #2a2a2a;
  text-align: center; }
  footer p {
    font-weight: 700;
    padding: 2% 0;
    color: #fff6f4;
    letter-spacing: 2.5px; }

/*# sourceMappingURL=style.css.map */
