// Variables and Mixins
$green: #3f7150;
$red: #763432;//#843a38;//#772522;
$blue: rgba(26,46, 79, 1);
$dark_green: #012607;
$black_transparent: rgba(50,0,0,0.5);
$transparent: rgba(255,180,180,0.2);

@mixin bold {
   font-weight: 700;
}
@mixin light {
   font-weight: 300;
}
@mixin move-left {
   margin-left: -70px;
}

// GLOBAL
* {
   font-family: 'Sanchez', serif;
   margin: 0;
   padding: 0;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;

}

html {
   // background-color: #000;
   // background-color: $red;
}

body {
   // overflow: hidden;
   // background-color: $red;
   color: white;
}

h2 {
   font-size: 2em;
}

h3 {
   font-size: 2em;
}

a {
   text-decoration: none;
   color: white;

   &:visited {
      color: white;
   }
   &:hover {
      color: white;
   }
}

section {
   // border: 15px solid black;
}

.picture {
   // background-image: url('../assets/ns_bg_trans.jpg');
   background-image: url('../assets/ns_bg_web.jpg');

   // background-size: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   display: fixed;
}

.container {
   width: 85%;
   margin: 0 auto;
}


.section-title {
   color: white;
   font-weight: 700;
   font-size: 5em;
}

// Heading
.home {
   @include bold;
   // color: black;
   color: white;
   // background-color: rgba(200,126,123,0.4);
   // background-color: rgba(0,0,0,0.1);
   background: linear-gradient(90deg, $black_transparent, $black_transparent 38%, $transparent);

   .home-cont {

      .home-name {
         font-size: 7em;
         line-height: 0.95em;
         letter-spacing: 3px;
      }
      .home-job {
         margin-top: 0.5%;
         font-size: 1.9em;
         // color: $blue;
      }
      .home-rest {
         width: 60%;
         margin-top: 3%;
         font-size: 1.9em;
         font-weight: 600;
         letter-spacing: 2px;
         line-height: 1.5em;

      }
      .home-love {  
         margin-top: 2%;
         margin-bottom: 7%;
         font-size: 1.5em;
      }
      .home-buttons {
         margin-top: 3%;
         
         a {
            background-color: rbga(0,0,0,0);
            border: 3px solid white;
            border-radius: 20px;
            padding: 4px 15px;
            margin-right: 2%;

            &:hover {
               color: #000;
               transition: background-color 0.1s ease;
               background-color: lighten($red, 20%);
            }
         }
      }
      .home-contact {
         @extend .home-rest;
         // margin-top: 3%;
      }
   }
   
}

// About Me
.about {
   border-top: 3px solid black;
   background-color: white;
   // color: $red;
   color: #000;

   .aboutCont{
      padding: 12% 0;

      .bio {
         width: 70%;
         // display: inline-block;
         font-size: 2em;
         margin-bottom: 3%;
         line-height: 1.5em;
      }
      .part {
         display: inline-block;
         width: 30%;
         vertical-align: top;
         padding-right: 2%;
      }
   }   
}

.work {
   border-top: 3px solid black;
   .work-block {
      padding: 3.5% 0;
      
      .cont {
         position: relative;
         -webkit-transition: all 0.25s ease-in-out;
         transition: all 0.25s ease-in-out;
         padding: 2%;
         width: 55%;
         border-radius: 5px;
      }
      .work-name {
         font-size: 3em;
      }
      .work-brief {
         margin-top: 0.6%;
         font-size: 1.5em;
      }
      .work-skills {
         margin-top: 1%;
         font-size: 1em;
      }
   }
}

pie-chart {
   margin-right: 200px;
}

.blue {
   background-color: $blue;
}
.darken {
   background-color: darken($blue, 2%)
}
