// Variables and Mixins
$green: #3f7150;
$red: #772522;

@mixin bold {
   font-weight: 700;
}
@mixin light {
   font-weight: 300;
}
@mixin section($color) {
   border-top: 20px solid darken($color, 2%);
   background-color: $color;
}

// GLOBAL
* {
   font-family: 'Merriweather', serif;
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.container {
   width: 85%;
   margin: 0 auto;
}

.section {
   display: absolute;
   top: 0;
}

.section-title {
   color: white;
   font-weight: 700;
   font-size: 5em;
}

// Heading
.title {
   @include bold;

   .title-name {
      width: 80%;
      font-size: 6em;
      line-height: 1.25em;
      padding-top: 7%;
   }
   .title-rest {
      width: 70%;
      margin-top: 2%;
      font-size: 2em;
      line-height: 2.0em;
      font-weight: 400;
   }
   .title-love {  
      margin-top: 2%;
      margin-bottom: 7%;
      font-size: 2em;
   }
}

// About Me
.about {
   @include section($green);
}

.work {
   @include section($red);
   h2 {
      font-size: 3em;
   }
   .work-block {
      padding: 2% 0;
   }
}

