// Variables and Mixins
$green: #3f7150;
$red: #763432;//#843a38;//#772522;
$blue: rgba(29,60,88, 1);//R: 3 G: 46 B: 88 //R: 29 G: 60 B: 88
$dark_green: #012607;
$black_transparent: rgba(50,0,0,0.4);
$transparent: rgba(255,180,180,0.2);
$white: white;//#fff6f4;//#fff8f6;//#fdfdff;
$black: #2a2a2a;

@mixin italic {
   font-style: italic;
}
@mixin bold {
   font-weight: 700;
}
@mixin light {
   font-weight: 300;
}
@mixin move-left {
   margin-left: -70px;
}
@mixin hover-underline {
   border-bottom: 3px solid $white;
   transition: all 0.1s linear;
}

// GLOBAL
* {
   font-family: 'Sanchez', serif;
   margin: 0;
   padding: 0;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   font-smoothing: antialiased;
}

body {
   color: $white;
}

h2 {
   font-size: 2em;
}

h3 {
   font-size: 2em;
}

a {
   text-decoration: none;
   color: $white;

   &:visited {
      color: $white;
   }
   &:hover {
      color: $white;
   }
}

.picture {
   background-image: url('../assets/ns_bg.jpg');
   background-size: 107%;
   // background-position: 0 0.1%, center;
   background-repeat: no-repeat;
}

.container {
   width: 82%;
   margin: 0 auto;
}


.section-title {
   color: $white;
   font-weight: 700;
   font-size: 5em;
}

// Heading
.home {
   @include bold;
   background: linear-gradient(90deg, $black_transparent, $black_transparent 38%, $transparent);

   padding: 1% 0 16% 0;

   .home-cont {
   
      .home-name {
         font-size: 7em;
         line-height: 0.95em;
         letter-spacing: 3px;
      }
      .home-job {
         margin-top: 0.5%;
         font-size: 1.9em;
      }
      .home-rest {
         width: 60%;
         margin-top: 3%;
         font-size: 1.9em;
         font-weight: 600;
         letter-spacing: 2px;
         line-height: 1.5em;

      }
      .home-love {  
         margin-top: 2%;
         margin-bottom: 7%;
         font-size: 1.5em;
      }
      .home-buttons {
         margin-top: 3%;
         
         a {
            background-color: rbga(0,0,0,0);
            border: 3px solid $white;
            border-radius: 20px;
            padding: 4px 15px;
            margin-right: 2%;

            &:hover {
               color: #000;
               @include hover-underline;
            }
         }
      }
      
      .home-action {
         font-size: 1.7em;
         margin-top: 4.4%;

         a {
            color: $white;

            &:hover {
               border-bottom: 3px solid $white;
               transition: all 0.1s linear;
            }
         }
      }

      .home-contact {
         @extend .home-rest;
      }
   }
   
}

// About Me
.about {
   border-top: 22px solid $black;
   border-bottom: 22px solid $black;

   background-color: $white;
   color: $blue;

   .aboutCont{
      padding: 15% 0;
   
      li {
         vertical-align: top;
      }
      a {
         color: $blue;

         &:hover {
            color: lighten($blue, 20%);
         }
      }
      div {
         padding: 2% 0%;
      }
      .bio {
         width: 65%;
         font-size: 2em;
         margin-bottom: 3%;
         line-height: 1.5em;
         display: inline-block;
         margin-right: 7%;

         p {
            margin-bottom: 5%;
            font-size: 0.75em;
            font-weight: 500;
         }

         a {
            @include italic;
         }
      }



      .skillsClubsCont{
         display: inline-block;
         width: 20%;
         padding-left: 7%;
         vertical-align: top; 
         border-left: 5px double $blue;
         
         .skills {
            .learning {
               padding-top: 5%;
            }
      
            .skillsTitle {
               padding-bottom: 3%;
            }
         }
         
      }

      .aboutList {
         margin-bottom: 7%;

         p {
            margin-bottom: 5%;
         }
      }
   }   
}

.work {
   border-top: 22px solid $black;
   .work-block {
      padding: 2.5% 0;
      
      .cont {
         position: relative;
         -webkit-transition: all 0.25s ease-in-out;
         transition: all 0.25s ease-in-out;
         padding: 2%;
         width: 55%;
         border-radius: 5px;
      }
      .work-name {
         font-size: 3em;
      }
      .work-brief {
         margin-top: 0.6%;
         font-size: 1.5em;
      }
      .work-skills {
         margin-top: 1%;
         font-size: 1em;
      }
   }
}

// Contact Section
.contact {
   background-color: $red;
   color: $white;
   padding: 9% 0;


   .contact-left {
      width: 65%;
      margin: 0 auto;
      font-size: 1.3em;
      line-height: 3em;
      text-align: center;

      a {
         &:hover {
            @include hover-underline;
         }
      }
   }
}

pie-chart {
   margin-right: 200px;
}

.blue {
   background-color: $blue;
}
.darken {
   background-color: darken($blue, 2%)
}
.toWhite {
   color: $white;
}


// FOOTER
footer {
   background-color: $black;
   text-align: center;

   p {
      @include bold;
      padding: 2% 0;
      color: $white;
      letter-spacing: 2.5px;
   }
}



